
* {
    box-sizing: border-box;
    padding: 4px;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .text-align-center {
    text-align: center;
  }
  
  input[type=button] {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    color: white;
    border-radius: 4px;
    width: 12rem;
  }
  
  .btn-stop {
    background-color: crimson;
  }
  
  .btn-start {
    background-color: blue;
  }
  
  .btn-green {
    background-color: #28a745;
  }
  
  ul {
    list-style-type:none;
    padding: 8px;
  }
  
  .drawingBuffer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  

  video {
    width: 42rem;
    height: 24rem;
  }

  @media only screen and (max-width:768px){
    .video {
      width: 80%;
    }
  }